
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode: Alice Blue & Emerald */
    --background: 210 83% 96%;
    --foreground: 180 5% 17%;
    --card: 210 83% 99%;
    --card-foreground: 180 5% 17%;
    --popover: 210 83% 99%;
    --popover-foreground: 180 5% 17%;
    --primary: 153 70% 47%;
    --primary-foreground: 153 70% 5%;
    --secondary: 215 27% 92%;
    --secondary-foreground: 180 5% 17%;
    --muted: 215 27% 88%;
    --muted-foreground: 284 9% 45%;
    --accent: 153 70% 95%;
    --accent-foreground: 153 70% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27% 85%;
    --input: 215 27% 90%;
    --ring: 153 70% 47%;
    --chart-1: 153 70% 47%;
    --chart-2: 153 60% 42%;
    --chart-3: 153 50% 37%;
    --chart-4: 153 40% 32%;
    --chart-5: 153 30% 27%;
    --radius: 1rem;
  }
 
  .dark {
    /* Dark Mode: Gunmetal & Emerald */
    --background: 180 5% 12%;
    --foreground: 210 83% 96%;
    --card: 180 5% 17%;
    --card-foreground: 210 83% 96%;
    --popover: 180 5% 12%;
    --popover-foreground: 210 83% 96%;
    --primary: 153 70% 47%;
    --primary-foreground: 153 70% 5%;
    --secondary: 180 5% 22%;
    --secondary-foreground: 210 83% 96%;
    --muted: 180 5% 22%;
    --muted-foreground: 284 9% 62%;
    --accent: 153 70% 25%;
    --accent-foreground: 210 83% 96%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 25%;
    --input: 180 5% 25%;
    --ring: 153 70% 47%;
    --chart-1: 153 70% 47%;
    --chart-2: 153 60% 42%;
    --chart-3: 153 50% 37%;
    --chart-4: 153 40% 32%;
    --chart-5: 153 30% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground leading-relaxed;
  }
}
